/* author: Jedrzej Golebiewski */

#course{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 3vh;
}

#overview{
  font-size: 1.2rem;
  margin: 0 0 3vh;
  text-align: left;
}

#prefix{
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0 0 3vh;
}

#mobile, #desktop{
  width: 100%;
  text-align: left;
}

#desktop{
  display: none;
  align-items: stretch;
}

.mobile-title{
  border-bottom: 1px solid #ccc5b9;
  color: #ccc5b9;
  background-color: #252422;
  cursor: pointer;
  transition: all 0.4s ease-in-out, border-radius 0.1s ease-in-out;
}

.mobile-title-inner{
  display: flex;
  align-items: center;
  padding: 2vh 0 2vh 8vw;
}

.mobile-title-inner h3{
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.6);
  font-weight: 300;
  margin: 0 1.5vw 0 0;
  transition: all 0.4s ease-in-out;
}

.mobile-title-inner-arrow *{
  position: absolute;
  width: calc(min(3rem, min(8vw, 6vh)) * 0.2);
  height: calc(min(3rem, min(8vw, 6vh)) * 0.04);
  border-radius: 2px;
  background-color: #ccc5b9;
  transition: all 0.15s ease-in-out, background-color 0.4s ease-in-out;
}

.mobile-title-inner-line-1{
  transform: translate(15%, -50%) rotate(45deg) translate(-50%, 0);
  transform-origin: 0 50%;
}

.mobile-title-inner-line-2{
  transform: translate(-15%, -50%) rotate(-45deg) translate(50%, 0);
  transform-origin: 100% 50%;
}

.animate-arrow.mobile-title-inner-line-1{
  transform: translate(15%, -50%) rotate(-45deg) translate(-50%, 0);
}

.animate-arrow.mobile-title-inner-line-2{
  transform: translate(-15%, -50%) rotate(45deg) translate(50%, 0);
}

.mobile-description{
  overflow: hidden;
  height: 0;
  text-align: center;
  background-color: #ccc5b9;
  transition: height 0.4s ease-in-out;
}

.mobile-description-inner{
  margin: 0 8vw;
}

.mobile-description-inner h2{
  font-size: 1.4rem;
  margin: 2vh 0;
}

.mobile-description-inner h3{
  font-size: 0.9rem;
  margin: 0 0 2vh;
}

.mobile-description-inner img{
  width: 8rem;
  margin-bottom: 8vh;
  border-radius: 20px;
}

.mobile-description-inner p{
  margin: 0 0 1vh;
  text-align: left;
}

.bar-to-close{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 2vh;
  margin: 0 calc(0.75vh - 8vw) 1.2vh auto;
  cursor: pointer;
}

.bar-to-close-inner{
  width: 2.5vh;
  height: 0.4vh;
  border-radius: 4px 0 4px 0;
  background-color: #403D39;
}

#desktop-left{
  overflow: hidden;
  /* Golden Ratio */
  width: 38%;
}

#desktop-right{
  position: relative;
  width: 62%;
  background-color: #ccc5b9;
}

.desktop-title{
  border-bottom: 1px solid #ccc5b9;
  color: #ccc5b9;
  background-color: #252422;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#desktop-module-1-title{
  color: #252422;
  background-color: #eb5e28;
}

.desktop-title-inner{
  display: flex;
  align-items: center;
  padding: 2vh 0 2vh 2vw;
}

.desktop-title-inner h3{
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.6);
  font-weight: 300;
  margin: 0 1.5vw 0 0;
  transition: all 0.4s ease-in-out;
}

.desktop-title-inner-arrow *{
  position: absolute;
  width: calc(min(3rem, min(8vw, 6vh)) * 0.2);
  height: calc(min(3rem, min(8vw, 6vh)) * 0.04);
  border-radius: 2px;
  background-color: #ccc5b9;
  transition: all 0.15s ease-in-out, background-color 0.4s ease-in-out;
}

#desktop-module-1-title .desktop-title-inner-arrow *{
  background-color: #252422;
}
  
.desktop-title-inner-line-1{
  transform: translate(0, calc(-50% - 150%)) rotate(45deg) translate(-50%, 0);
  transform-origin: 0 50%;
}
  
.desktop-title-inner-line-2{
  transform: translate(0, calc(-50% + 150%)) rotate(-45deg) translate(-50%, 0);
  transform-origin: 0 50%;
}
  
.animate-arrow.desktop-title-inner-line-1{
  transform: translate(0, calc(-50% - 150%)) rotate(135deg) translate(-50%, 0);
}
  
.animate-arrow.desktop-title-inner-line-2{
  transform: translate(0, calc(-50% + 150%)) rotate(-135deg) translate(-50%, 0);
}

.desktop-description{
  overflow: hidden;
  position: absolute;
  width: 0;
  height: calc((100% - 7px) / 8);
  text-align: center;
  background-color: #eb5e28;
  transition: all 0.4s ease-in-out;
}

#desktop-module-1-description{
  overflow-y: scroll;
  /* Although depreciated, "overlay" is still supported by all modern browsers.
  Without this setting, the contents moves to allocate the scrollbar when not desired. */
  overflow-y: overlay;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc5b9;
}

#desktop-module-2-description{
  top: calc(1 * (100% - 7px) / 8 + 1 * 1px);
}

#desktop-module-3-description{
  top: calc(2 * (100% - 7px) / 8 + 2 * 1px);
}

#desktop-module-4-description{
  top: calc(3 * (100% - 7px) / 8 + 3 * 1px);
}

#desktop-module-5-description{
  top: calc(4 * (100% - 7px) / 8 + 4 * 1px);
}

#desktop-module-6-description{
  top: calc(5 * (100% - 7px) / 8 + 5 * 1px);
}

#desktop-module-7-description{
  top: calc(6 * (100% - 7px) / 8 + 6 * 1px);
}

#desktop-module-8-description{
  top: calc(7 * (100% - 7px) / 8 + 7 * 1px);
}

.desktop-description-inner{
  margin: 0 4vw;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#desktop-module-1-description .desktop-description-inner{
  opacity: 100%;
}

.desktop-description-inner h2{
  font-size: 1.4rem;
  margin: 3vh 0 2vh;
}

.desktop-description-inner h3{
  font-size: 0.9rem;
  margin: 0 0 2vh;
}

.desktop-description-inner img{
  width: 8rem;
  margin-bottom: 8vh;
  border-radius: 20px;
}

.desktop-description-inner p{
  margin: 0 0 2vh;
  text-align: left;
}

.first{
  border-radius: 25px 0 0 0;
}

.last{
  border-bottom: 0;
  border-radius: 0 0 25px 0;
}

#desktop-module-8-title.last{
  border-radius: 0;
}

#more-info{
  font-size: 1.2rem;
  margin: 3vh 0 1vh;
}

#more-info a,
#more-info a:visited,
#more-info a:active{
  color: #403D39;
}

#more-info a:hover{
  color: #eb5e28;
}

@media screen and (orientation:landscape){
  #mobile{
    display: none;
  }

  #desktop{
    display: flex;
  }
}

@media screen and (min-width: 1024px) and (orientation:landscape){
  main{
    padding: 12.5vh 10vw 2vh;
  }

  #sections-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 4vh;
  }

  #overview-section{
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-right: 2%;
    padding: 0 3vw;
    border-radius: 25px 0 25px 0;
    background-color: #ccc5b9;
  }

  #course{
    font-size: 1.6rem;
    margin: 4vh 0 5vh;
  }

  #overview{
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 2vh;
  }

  #module-section{
    width: 60%;
    margin-left: 2%;
  }

  .desktop-description-inner{
    margin: 0 2vw;
  }
}