#course{
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.8);
  margin: 0 0 3vh;
}

#overview{
  text-align: left;
  margin: 0 0 3vh;
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.5);
}

#prefix{
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.8);
  margin: 0 0 3vh;
  font-weight: 300;
}

#mobile{
  width: 100%;
  text-align: left;
}

.mobile-title{
  cursor: pointer;
  background-color: #252422;
  color: #ccc5b9;
  transition: all 0.4s ease-in-out, border-radius 0.1s ease-in-out;
  border-bottom: 1px solid #ccc5b9;
}

.mobile-title-inner{
  display: flex;
  align-items: center;
  align-content: space-between;
  padding: 2vh 0 2vh 8vw;
}

.mobile-title-inner h2{
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.6);
  font-weight: 300;
  margin: 0 1.5vw 0 0;
  transition: all 0.4s ease-in-out;
}

.mobile-title-inner-arrow *{
    height: calc(min(3rem, min(8vw, 6vh)) * 0.04);
    width: calc(min(3rem, min(8vw, 6vh)) * 0.2);
    position: absolute;
    border-radius: 2px;
    transition: all 0.15s ease-in-out, background-color 0.4s ease-in-out;
    background-color: #ccc5b9;
}
  
.mobile-title-inner-line-1{
  transform-origin: 0 50%;
  transform: rotate(45deg) translate(calc(min(3rem, min(8vw, 6vh)) * (-0.07)), -50%);
}
  
.mobile-title-inner-line-2{
  transform-origin: 100% 50%;
  transform: rotate(-45deg) translate(calc(min(3rem, min(8vw, 6vh)) * (0.07)), -50%);
}
  
.animate-arrow.mobile-title-inner-line-1{
  transform: rotate(-45deg) translate(calc(min(3rem, min(8vw, 6vh)) * (-0.07)), 50%);
}
  
.animate-arrow.mobile-title-inner-line-2{
  transform: rotate(45deg) translate(calc(min(3rem, min(8vw, 6vh)) * (0.07)), 50%);
}

.mobile-description{
  text-align: center;
  background-color: #ccc5b9;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  height: 0;
}

.mobile-desciption-inner h1{
  margin: 2vh 8vw;
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.8);
}

.mobile-desciption-inner h2{
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.5);
  margin: 0 8vw 2vh;
}

.mobile-desciption-inner img{
  margin-bottom: 8vh;
  width: 50%;
  border-radius: 20px;
}

.mobile-desciption-inner p{
  margin: 0 8vw 2vh;
  text-align: left;
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.5);
}

.first{
  border-radius: 30px 0 0 0;
}

.last{
  border-bottom: 0;
  border-radius: 0 0 30px 0;
}

.mobile-description.last{
  margin-bottom: 3vh;
}

#more-info{
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.6);
  margin-bottom: 3vh;
}