/* To set font weight & style and stop user agent stylesheet from overriding */
* {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* Force body to take up whole screen and attach main & footer to top & bottom of screen respectively */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fffcf2;
}

/* Remove header from flow and fix it at the top.
Z-index added because of conflict with buttons on quiz page */
header {
  height: 12vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #252422;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Styling of individual header elements */
#menu-icon {
  margin-left: 8vw;
  cursor: pointer;
}

#menu-icon * {
  height: 5px;
  width: 35px;
  margin: 6px 0;
  background-color: #ccc5b9;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.animate-menu-icon #line-1 {
  transform: rotate(-45deg) translate(-8px, 6px);
  background-color: #403d39;
}

.animate-menu-icon #line-2 {
  opacity: 0;
  background-color: #403d39;
}

.animate-menu-icon #line-3 {
  transform: rotate(45deg) translate(-10px, -8px);
  background-color: #403d39;
}

/* Excluded from flex flow to always keep centred */
#page-title-info {
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 500;
  color: #ccc5b9;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

#logo {
  height: 8vh;
  margin-right: 6vw;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

/* Remove menu background from flow and position fixed outside of page.
Z-index added because of conflict with buttons on quiz page */
#side-menu {
  height: 100vh;
  width: 100vw;
  top: -100vh;
  left: 0;
  position: fixed;
  z-index: 2;
  background-color: #eb5e28;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Div to enable menu links to be equally spaced with respect to the div and not the page itself.
Div has to hidden to not prevent clicking on page.
Z-index added because of conflict with buttons on quiz page */
#anchor-tags {
  height: 80vh;
  width: 100vw;
  top: 12vh;
  left: -100vw;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Hide all menu links to the left of "#anchor-tags" div which itself is initially hidden.
This is to allow seperate animation of each individual link */
#anchor-tags a {
  margin-left: -200%;
  font-size: 4vh;
  font-weight: 500;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

/* Specify color and text decoration for all menu links */
#anchor-tags a,
#anchor-tags a:visited,
#anchor-tags a:hover,
#anchor-tags a:active {
  color: #403d39;
  text-decoration: none;
}

/* Padding from top to not be obscured by header (which is excluded from flow) */
main {
  padding-top: 15vh;
  margin: 0 8vw;
  text-align: center;
  color: #252422;
}

footer {
  text-align: center;
  background-color: #ccc5b9;
}

#copyright {
  margin: 6px 0;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 100;
}
