/* To set font weight & style and stop user agent stylesheet from overriding */
* {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Force body to take up whole screen and attach main & footer to top & bottom of screen respectively */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fffcf2;
  line-height: 1.35;
  overflow-y: overlay;
}

body.hide-overflow {
  overflow: hidden;
}

/* Remove header from flow and fix it at the top.
Z-index added because of conflict with buttons on quiz page */
header {
  height: 12vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 2;
  text-align: center;
  background-color: #252422;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#desktop-header{
  display: none;
}

#menu-desktop-icon{
  left: min(5vw, 60px);
  height: 12vh;
  width: calc(min(3rem, min(8vw, 6vh)) * 3);
  color: #ccc5b9;
  position: absolute;
  display: none;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

#menu-desktop-inner{
  top: 50%;
  left: 50%;
  padding-right: 1vw;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-desktop-inner h1{
  margin: 0 0.6vw 0 0;
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.6);
  font-weight: 300;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

#menu-desktop-arrow *{
  height: calc(min(3rem, min(8vw, 6vh)) * 0.04);
  width: calc(min(3rem, min(8vw, 6vh)) * 0.2);
  position: absolute;
  border-radius: 2px;
  transition: all 0.15s ease-in-out, background-color 0.4s ease-in-out;
  background-color: #ccc5b9;
}

#desktop-line-1{
  transform-origin: 0 50%;
  transform: translate(16%, -50%) rotate(45deg) translate(-50%, 0);
}

#desktop-line-2{
  transform-origin: 100% 50%;
  transform: translate(-16%, -50%) rotate(-45deg) translate(50%, 0);
}

.animate-menu-desktop-icon#desktop-line-1{
  transform: translate(16%, -50%) rotate(-45deg) translate(-50%, 0);
}

.animate-menu-desktop-icon#desktop-line-2{
  transform: translate(-16%, -50%) rotate(45deg) translate(50%, 0);
}

#menu-desktop-anchor-tags{
  height: 24vh;
  width: 100vw;
  top: -12vh;
  position: fixed;
  display: none;
  z-index: 1;
  background-color: #eb5e28;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

#menu-desktop-anchor-tags-inner{
  height: 12vh;
  margin: 12vh min(5vw, 60px) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling of individual header elements */
#menu-icon {
  height: min(5vh, 10vw);
  width: min(6.25vh, 12.5vw);
  top: 6vh;
  left: 8vw;
  transform: translate(0, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.push-menu-button-top#menu-icon{
  top: 8vh;
}

#menu-icon *{
  height: calc(min(5vh, 10vw) * 0.17);
  width: min(6.25vh, 12.5vw);
  border-radius: 8px 0 8px 0;
  background-color: #ccc5b9;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.animate-menu-icon #line-1 {
  border-radius: 5px;
  transform: rotate(-45deg) translate(calc(min(6.25vh, 12.5vw) * (-0.23)), calc(min(5vh, 10vw) * 0.2));
  background-color: #403d39;
}

.animate-menu-icon #line-2 {
  border-radius: 5px;
  opacity: 0;
  background-color: #403d39;
}

.animate-menu-icon #line-3 {
  border-radius: 5px;
  transform: rotate(45deg) translate(calc(min(6.25vh, 12.5vw) * (-0.3)), calc(min(5vh, 10vw) * (-0.32)));
  background-color: #403d39;
}

/* Excluded from flex flow to always keep centered */
.page-title-info {
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: calc(min(3rem, min(8vw, 6vh)) * 0.85);
  line-height: 1;
  color: #ccc5b9;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.logo {
  height: 8vh;
  top: 6vh;
  right: min(6vw, 120px);
  transform: translate(0, -50%);
  position: absolute;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

/* Remove menu background from flow and position fixed outside of page.
Z-index added because of conflict with buttons on quiz page */
#side-menu {
  height: 100vh;
  width: 100vw;
  top: -100vh;
  left: 0;
  position: fixed;
  z-index: 2;
  background-color: #eb5e28;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Div to enable menu links to be equally spaced with respect to the div and not the page itself.
Div has to hidden to not prevent clicking on page.
Z-index added because of conflict with buttons on quiz page */
#anchor-tags {
  height: 80vh;
  width: 100vw;
  top: 12vh;
  left: -100vw;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#anchor-tags-left, #anchor-tags-right{
  height: 80vh;
  width: 50vw;
  top: 18vh;
  position: fixed;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#anchor-tags-left{
left: -50vw;
}

#anchor-tags-right{
left: 100vw;
}

/* Hide all menu links to the left of "#anchor-tags" div which itself is initially hidden.
This is to allow seperate animation of each individual link */
#anchor-tags a, #anchor-tags-left a, #anchor-tags-right a{
  margin-left: -200vw;
  font-size: 4vh;
  font-weight: 500;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

#anchor-tags-left a, #anchor-tags-right a{
  font-size: min(8vh, 4vw);
}

#anchor-tags-right a{
  margin-left: 200vw;
}

#menu-desktop-anchor-tags-inner a{
  margin-top: -24vh;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  text-align: center;
  font-size: calc(min(4vw, 6vh) * 0.6);
  font-weight: 300;
}

/* Specify color and text decoration for all menu links */
#anchor-tags a,
#anchor-tags a:visited,
#anchor-tags a:hover,
#anchor-tags a:active,
#anchor-tags-left a,
#anchor-tags-left a:visited,
#anchor-tags-left a:hover,
#anchor-tags-left a:active,
#anchor-tags-right a,
#anchor-tags-right a:visited,
#anchor-tags-right a:hover,
#anchor-tags-right a:active,
#menu-desktop-anchor-tags-inner a,
#menu-desktop-anchor-tags-inner a:visited,
#menu-desktop-anchor-tags-inner a:hover,
#menu-desktop-anchor-tags-inner a:active {
  color: #403d39;
  text-decoration: none;
}

/* Padding from top to not be obscured by header (which is excluded from flow) */
main {
  padding: 15vh 8vw 0;
  text-align: center;
  color: #252422;
}

footer {
  text-align: center;
  background-color: #ccc5b9;
}

#copyright {
  margin: 6px 0;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 100;
}

/* Noscript styling */
#page-hide{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background-color: rgba(0,0,0, 0.9);
}

#page-hide h1{
  width: 95vw;
  top: 50vh;
  left: 50vw;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  color: #fffcf2;
  transform: translate(-50%, -50%);
}

@media screen and (orientation:landscape){
  header {
    height: 10vh;
  }

  #menu-desktop-icon{
    height: 10vh;
  }

  #menu-icon {
    top: 5vh;
    left: 12vw;
  }

  .page-title-info{
    font-size: calc(min(3rem, min(8vw, 6vh)) * 0.9);
  }

  .logo {
    top: 5vh;
  }

  main{
    padding: 12.5vh 16vw 0;
  }

  .push-menu-button-top#menu-icon{
    top: 12.5vh;
  }

  #anchor-tags{
    display: none;
  }

  #anchor-tags-left, #anchor-tags-right {
    display: flex;
  }

  #menu-desktop-anchor-tags{
    height: 20vh;
    top: -10vh;
  }

  #menu-desktop-anchor-tags-inner{
    height: 10vh;
    margin: 10vh min(5vw, 60px) 0;
  }

  #menu-desktop-anchor-tags-inner a{
    margin-top: -20vh;
  }
}

@media screen and (min-width: 1024px){
  body.hide-overflow {
    overflow: overlay;
  }

  #mobile-tablet-header{
    display: none;
  }

  #desktop-header{
    display: inline-block;
  }

  .page-title-info{
    font-size: calc(min(3rem, min(8vw, 6vh)) * 0.95);
  }

  #menu-icon, #side-menu, #anchor-tags, #anchor-tags-left, #anchor-tags-right {
    display: none;
  }

  #menu-desktop-icon{
    display: inline-block;
  }

  #menu-desktop-anchor-tags{
    display: inline-block;
  }

  main{
    padding: 12.5vh 30vw 0;
  }
}