#profile-picture {
  border-radius: 100%;
  width: min(80vw, 30vh);
}

#name {
  margin: 2vh 0;
  font-size: 2rem;
}

#intro{
  font-size: 1.2rem;
}

#welcome{
margin: 0 0 3vh;
font-weight: 600;
font-size: 3rem;
}

#about-me-images{
  margin: 4vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-image{
  margin: 1vh 0;
  width: min(25vw, 10vh);
}

#about-me-paragraph{
  text-align: left;
  font-size: 1.2rem;
}