main h1{
    width: 80vw;
    margin: 3vh 0;
    font-size: 2rem;
}

main img{
    width: min(60vw, 30vh);
}

h2{
    margin: 2vh 0;
    font-size: 1.5rem;
}

.answers p{
    width: calc(74vw - 4px);
    padding: 1.2vh 5vw;
    border: 2px solid #EB5E28;
    border-radius: 20px;
    margin: 0 0 10px;
    color: #CCC5B9;
    background-color: #403D39;
    cursor: pointer;
}