/* author: Jedrzej Golebiewski */

main h1{
    font-size: 2rem;
    margin: 0 0 3vh;
}

#img-wrap{
    display: inline-block;
    position: relative;
}

main img{
    width: 12rem;
    border-radius: 20px;
    box-shadow: 0 0 1px 2px #403D39;
}

h2{
    font-size: 1.6rem;
    margin: 2vh 0 3vh;
}

.answers{
    margin-bottom: 30px;
}

.answers p{
    margin: 0 20px 15px;
    padding: 1.5vh 5vw;
    border-radius: 20px 0 20px 0;
    box-shadow: 0 0 2px 2px #EB5E28;
    color: #CCC5B9;
    background-color: #403D39;
    cursor: pointer;
}

#left-button-nav, #right-button-nav{
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(0, -50%);
    border-radius: 100%;
    box-shadow: 0 0 2px 2px #403D39;
    color: #403D39;
    background-color: #CCC5B9;
    cursor: pointer;
}

#left-button-nav{
    left: -50px;
}

#right-button-nav{
    right: -50px;
}

#left-button-nav p, #right-button-nav p{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

section *{
    transition: 0.5s;
    transition-timing-function: ease-in;
}

@media screen and (orientation: landscape){
    .answers p{
        margin: 0 90px 16px;
    }
}

@media screen and (min-width: 1024px){
    .answers p{
        margin: 0 40px 16px;
    }
}