body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #252422;
  color: #fffcf2;
  top: 0;
  overflow: hidden;
}

#menu-icon {
  margin-left: 8%;
}

.menu-icon-line {
  width: 35px;
  height: 5px;
  background-color: #ccc5b9;
  margin: 6px 0;
}

#current-page-info {
  margin-right: 8%;
}

main {
  text-align: center;
  padding-top: 15vh;
}

footer {
  text-align: center;
  margin-bottom: 0;
  background-color: #ccc5b9;
}

#copyright {
  display: inline-block;
  font-size: 1rem;
  font-weight: 200;
}
